canvas {
    border: 1px solid black;

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}
body {
    margin: 0px; 
}
html { 
    overflow:  hidden; 
}
